<div class="content">
    {{ if .Site.Params.swapColumns }}
    <div class="content__left content__swapped__left">
    {{ else }}
    <div class="content__left">
    {{ end }}
        <h1 class="mainHeading">{{ .BasicInfo.FirstName }} <span>{{ .BasicInfo.LastName }}</span></h1>
        {{ partial "_profile.html" . }}
        {{ partial "_experience.html" . }}
        {{ partial "_education.html" . }}
        {{ partial "_references.html" . }}
    </div>
    {{ if .Site.Params.swapColumns }}
    <div class="content__right content__swapped__right">
    {{ else }}
    <div class="content__right">
    {{ end }}
        {{ partial "_avatar.html" . }}
        {{ partial "_contacts.html" . }}
        {{ partial "_skills.html" . }}
        {{ partial "_languages.html" . }}
        {{ partial "_diplomas.html" . }}
        {{ partial "_interests.html" . }}
    </div>
</div>